# Relatório de Análise II

## Tipos de Imóveis

In [30]:
import pandas as pd

In [31]:
dados = pd.read_csv('aluguel.csv', sep=';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

In [32]:
dados.Tipo #ou dados['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [33]:
tp_imovel = dados['Tipo']
print(tp_imovel)

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [34]:
type(tp_imovel)

pandas.core.series.Series

In [35]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [36]:
qt_imovel = tp_imovel.value_counts()
qt_imovel

Apartamento                    19532
Conjunto Comercial/Sala         6815
Loja/Salão                      1426
Casa de Condomínio               996
Casa                             967
Quitinete                        836
Galpão/Depósito/Armazém          623
Flat                             476
Prédio Inteiro                   301
Casa Comercial                   265
Casa de Vila                     249
Loja Shopping/ Ct Comercial      247
Box/Garagem                       82
Terreno Padrão                    70
Loft                              51
Sítio                             10
Loteamento/Condomínio              5
Studio                             4
Hotel                              2
Chácara                            1
Pousada/Chalé                      1
Indústria                          1
Name: Tipo, dtype: int64

In [37]:
type(qt_imovel)

pandas.core.series.Series

In [38]:
df_qt_imovel = pd.DataFrame(data = qt_imovel)
df_qt_imovel.columns=['Quantidade']
# df_qt_imovel.columns.name='Tipo Imovel'
df_qt_imovel

                             Quantidade
Apartamento                       19532
Conjunto Comercial/Sala            6815
Loja/Salão                         1426
Casa de Condomínio                  996
Casa                                967
Quitinete                           836
Galpão/Depósito/Armazém             623
Flat                                476
Prédio Inteiro                      301
Casa Comercial                      265
Casa de Vila                        249
Loja Shopping/ Ct Comercial         247
Box/Garagem                          82
Terreno Padrão                       70
Loft                                 51
Sítio                                10
Loteamento/Condomínio                 5
Studio                                4
Hotel                                 2
Chácara                               1
Pousada/Chalé                         1
Indústria                             1

In [39]:
tp_imovel_ndp = tp_imovel.drop_duplicates()
tp_imovel_ndp

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

In [40]:
type(qt_imovel)

pandas.core.series.Series

In [41]:
type(tp_imovel_ndp)

pandas.core.series.Series

In [42]:
tp_imovel.count()

32960

# Arrumar a parte imediatamente abaixo

In [43]:
porc_de_apto = (qt_imovel[0] / tp_imovel.count()) * 100
print('A porcentagem de {} é igual a {:.2f} ,'.format(qt_imovel.index[0],  porc_de_apto))

A porcentagem de Apartamento é igual a 59.26 ,

In [44]:
#usei .DROP_DUPLICATES() porém ao chamar a variável novamente, ela não está com o valor salvo. Para nao ter que 
# criar a variável tp_imovel_ndp usamos inplace=True
tp_imovel.drop_duplicates(inplace=True)
tp_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

# Organizando e Visualizando

In [45]:
tp_imovel
df_tp_imovel = pd.DataFrame(tp_imovel)
df_tp_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [46]:
tp_imovel.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

In [47]:
tp_imovel.shape #devolve a quantidade de itens que tem na série 'tp_imovel.shape[0]'

(22,)

In [48]:
range(tp_imovel.shape[0])

range(0, 22)

In [49]:
for i in range(tp_imovel.shape[0]):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [50]:
tp_imovel.index = range(tp_imovel.shape[0]) #SHAPE retorna (L, C), num de linhas e de colunas. 
#poderia usar tbm TP_IMOVEL.INDEX = RANGE(LEN(DF_TP_IMOVEL))

In [51]:
tp_imovel.index

RangeIndex(start=0, stop=22, step=1)

In [52]:
tp_imovel

0                       Quitinete
1                            Casa
2         Conjunto Comercial/Sala
3                     Apartamento
4              Casa de Condomínio
5                  Prédio Inteiro
6                            Flat
7                      Loja/Salão
8         Galpão/Depósito/Armazém
9                  Casa Comercial
10                   Casa de Vila
11                 Terreno Padrão
12                    Box/Garagem
13                           Loft
14    Loja Shopping/ Ct Comercial
15                        Chácara
16          Loteamento/Condomínio
17                          Sítio
18                  Pousada/Chalé
19                         Studio
20                          Hotel
21                      Indústria
Name: Tipo, dtype: object

In [53]:
df_tp_imovel = pd.DataFrame(tp_imovel)
df_tp_imovel.columns.name='ID'
df_tp_imovel

ID                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria